
<div class="card">
  <div class="card-header"><input id="postId" type="hidden" name="postId" value="{{post.id}}" />
  <p>{{post.title}}</p><footer style="text-align: right;" class="blockquote-footer"> posted by: {{post.user.name}} at {{format_date post.createdAt}} </footer>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{post.body}}</p>
    </blockquote>
      <button type="submit" postId="{{post.id}}" class="btn btn-primary" id="deletebutton">Delete</button>
       <a href="/dashboard/edit/{{post.id}}"> <button type="submit" postId="{{post.id}}" class="btn btn-primary" id="editbutton">Edit</button></a>
  </div>
</div>


{{#each post.Comments}}
<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{body}}</p>
      <p>- {{user.name}}, {{format_date createdAt}} </p>
    </blockquote>
  
  </div>
</div>
{{/each}}

<form>
  <div class="form-group">
    <input type="form" class="form-control w-100 mh-100" style="height:100px;" id="commentsForm" placeholder="Comment"><br>
      <button type="submit" postId="{{post.id}}" userId="{{userId}}" class="btn btn-primary" id="formbutton">Submit</button>
  </div>
</form>



